version: "3"
services:
  db:
    image: postgres:9.6@sha256:1ec6a4583d1385113d8ce7e628b6f3f7006fe2ee97ac6692bbb821c1229c48f6
    environment:
      - POSTGRES_USER=caluma
      - POSTGRES_PASSWORD=caluma
  caluma:
    image: projectcaluma/caluma:latest@sha256:15eab6243e7c87a66ec04aacee18137709c14dbd159de602f7473faada121cec
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      - DATABASE_HOST=db
      - DATABASE_PORT=5432
      - ENV=docker
